
body {
  background-image: linear-gradient(to right, #141e30, #243b55);
  margin:0;
  padding:0;
}

.image {
  opacity: 1;
  height: auto;
  max-width: 200px;
}

.header-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  margin-bottom: 0;
}


button {
  font-size: medium;
  font-weight: bolder;
  align-items: center;
  margin-top: 1.5rem;
}

.upload-section{
  color: black;
  background-color: #fcba03;
  margin-left: 0.5rem;
  border-radius: 5px;
  padding:20px;
  height: calc(100vh - 155px);
  overflow:hidden ;
  text-align: center;
}

/* #test-dropdown{
  width:100%;
  height: 100%;
} */
.control-section{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: black;
  background-color: #a1c4df;
  border-radius: 5px;
  padding:20px;
  height: calc(100vh - 155px);
  overflow:hidden ;
  /* text-align: center; */
}
#cluster-dropdown{
  /* width:45% !important;
  margin-left: -85px; */
  /* width:20%; */
  width: 80%;
  height:auto;
  /* margin-left: 2.5rem; */
  /* margin-right: 0.2rem; */
  max-height: 150px;
  /* margin:0 10px; */
  /* padding:2px; */
  overflow-y: visible;
  font-size:small;
  padding: 0;
  text-align: left;
  overflow-x: visible;
  display: block;
}

/* #use-cluster-toggle{
  margin-left:-1rem;
} */

#toggle-switch{
  margin-left:-4.8rem;
  margin-top:2rem;
}

/* #use-cluster-toggle{
  margin:0 auto;
}

.control-section #cluster-dropdown{
  width: 100%;
  margin:0.5rem 0.5rem;
}

.control-section .checklist, .control-section .dropdown{
  margin:0.5rem 0;
} */
/* .plot-class{
  margin-left: 0.07rem;
  padding:0.1rem;
} */

#tabs-example-graph{
  margin-left: 0.33rem;
  width:101.2%;
}

.custom-tab {
  font-size: large;
  font-weight: 500;
  margin-left: -0.4rem;
}

.custom-tab--selected {
  color: black;
  box-shadow: 1px 1px 0px white;
  font-size: x-large;
  font-weight: bold;
}

.dbc-container-style {
  height: 75vh;
}

.dbc-container3-style {
  height: 25vh;
}

.my-custom-container-style {
  /*overflow: hidden;*/
  color: black;
  background-color: white;
  height: 65%;
  display: flex;
  margin-left: -0.8rem;
  /* height: calc(70vh-2000px); */
  /* height:50vh;*/
  /* height:calc(100vh - 600px); */
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
}

.offshore {
  /*overflow: hidden;*/
  color: black;
  background-color: white;
  height: 150%;
  display: flex;
  margin-left: -0.8rem;
  /* margin-bottom:10em; */
}

.mop-custom-container-style {
  /* overflow: hidden; */
  color: black;
  background-color: white;
  display: flex;
  height: 60%;
  margin-left: -0.8rem;
  /* overflow: hidden;
  overflow-y: hidden; */
  overscroll-behavior-y:contain ;
}


/* #graph1-container {  */
/* position: absolute !important;  */
/* position: relative; */
/* top: -200%; */
/* display: inline;
height: 40%; */
/* width: 38%; */
/* width: 48%; */
/* margin-left: 2rem;
flex:1 1 50%;
} */
/* margin-left: 0; */
/* background-color: transparent;
/* }



#sliders {
display: inline;
/* position: absolute !important;
width: 38%; */
/* width: 48%; */
/* top: -30%; */
/* margin-left: 55rem; */
/* color: black;
font-size: 25px;
} */

#sliders{
/*   display: inline; */
  /* position: relative;
  top:27.4%; */
  margin-top: 4%;
  font-size: 18px;
  color: black;
}

#updated_sliders_offshore{
  margin-top: 24%;
  font-size: 18px;
  color: black;
}

.slider-label {
  flex-shrink: 0;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
}


.slider-input {
  flex-grow: 1;
}



.rc-slider{
  width:100%;
  color: lightgray !important;
}

.slider-5 .rc-slider-track{
  background-color: rgb(118, 192, 192);
 
} 

.slider-5 .rc-slider-handle{
  border-color: #2db7f5 !important;
} 

.slider-5 .rc-slider-handle:focus, .slider-5 .rc-slider-handle:active, .slider-5 .rc-slider-handle:hover{
  border-color: #2db7f5 !important;
} 

.rc-slider-mark-text {
  font-size: 14px;
  color: gray;
}

.rc-slider-mark-text-active {
  color: black;
}



/* .rc-slider-track-1{
  background-color: lightblue !important;
}

.rc-slider-handle:active, .rc-slider-handle:hover, .rc-slider-handle:focus{
  background-color: lightblue !important;
  border: 2px solid lightblue !important;
  color: lightblue !important;
} */


.slider-5 {
  width: 100%;
}


.align-cards {
  display: flex;
  flex-direction: row;
  height: 140vh !important;
  justify-content: space-between;
  /* flex:1;
  background-color: rgb(118, 192, 192); */
}

.align3-cards{
  display: flex;
  flex-direction: row;
  height: 150vh;
  justify-content: space-between;
  /* background-color: rgb(118, 192, 192); */
}

.card{
  background-color: rgb(118, 192, 192);
  /* min-height: 100vh; */
}

.card3-container{
  margin-top: 0.2rem;
  margin-left: -0.8rem;
  margin-right:-0.48rem;
  flex-grow: 1;
  overflow: hidden;
  justify-content: space-between;
}
.card2-container {
  margin-top: 0.4rem;
  margin-left: -0.8rem;
  margin-right:-0.48rem;
  flex-grow: 1;
  overflow: hidden;
  justify-content: space-between;
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}


.card-title, .card-title2 {
  text-align: center;
  font-weight: bold;
  color: rgb(13, 13, 12);
  background-color: rgb(118, 192, 192);
}

.plot-des{
  font-size:medium;
  color: rgb(57, 56, 56);
  /* background-color: rgb(118, 192, 192); */
}

.plot-des h5{
  margin-top: 1.2rem;
  color:#141e30;
  display: list-item;                                                       
  list-style-type: square;     
  list-style-position: inside; 
  /* background-color: rgb(118, 192, 192); */
}

.plot-des h6{
  display: list-item;                                                       
  list-style-type: square;     
  list-style-position: inside; 
  font-size: larger;
  font-weight: bold;
  color:#141e30;
  margin-top: 0.5rem;
  background-color: rgb(118, 192, 192);
}

.plot-des p{
  margin-left: 1.2rem;
  line-height:60%;
  font-size: 19px;
  background-color: rgb(118, 192, 192);
}

.slider-2 .rc-slider-track{
  background-color: rgb(118, 192, 192);
 
} 

.slider-2 .rc-slider-handle{
  border-color: #2db7f5 !important;
} 
.slider-2 .rc-slider-handle:focus, .slider-2 .rc-slider-handle:active, .slider-2 .rc-slider-handle:hover{
  border-color: #2db7f5 !important;
} 

.rc-slider-mark-text {
  font-size: 14px;
  color: transparent;
}

/* .rc-slider-mark-text-active {
  color: black;
} */

.slider-2 {
  width: 100%;
}