body {
  background-image: linear-gradient(to right, #141e30, #243b55);
  margin:0;
  padding:0;
}

.image { 
  opacity: 1;
  height: auto;
  max-width: 200px;
}

.header-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
}


button {
  font-size: larger;
  font-weight: bolder;
  align-items: center;
}

.upload-section{
  color: black;
  background-color: #fcba03;
  margin-left: 0.5rem;
  border-radius: 5px;
  padding:20px;
  height: calc(100vh - 150px);
  overflow:hidden ;
  text-align: center;
}


.custom-tab {
  font-size: x-large;
  font-weight: 500;
}

.custom-tab--selected {
  color: black;
  box-shadow: 1px 1px 0px white;
  font-size: xx-large;
  font-weight: bold;
}



.my-custom-container-style {
  overflow: hidden;
  color: black;
  background-color: white; 
} 


/* #graph1-container {  */
  /* position: absolute !important;  */
  /* position: relative; */
  /* top: -200%; */
  /* display: inline;
  height: 40%; */
  /* width: 38%; */
  /* width: 48%; */
  /* margin-left: 2rem;
  flex:1 1 50%;
} */
  /* margin-left: 0; */
  /* background-color: transparent;
/* } 



#sliders {
  display: inline;
  /* position: absolute !important;
  width: 38%; */
  /* width: 48%; */
  /* top: -30%; */
  /* margin-left: 55rem; */
  /* color: black;
  font-size: 25px;
} */



.slider-label {
  flex-shrink: 0;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
}

.slider-input {
  flex-grow: 1;
}

.rc-slider-mark-text {
  font-size: 19px;
  color: gray;
}

.rc-slider-mark-text-active {
  color: black;
}


 .align-cards { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 


.card {
  background-color: rgb(118, 192, 192);
  margin-top: 0.4rem;
  height:calc(100vh - 800px); 
  flex-grow: 1;
  overflow: hidden;
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-title, .card-title2 {
  text-align: center;
  font-weight: bold;
  color: rgb(13, 13, 12);
}


